Last login: Mon Mar 24 22:22:41 on ttys000
tonnam@Pakornkiat ~ % .container-fluid {
  width: 100%;
  display: flex;
}
.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}























































